body {
    margin: 0;
    text-align: center;
}

#identitasDiri {
    text-align: left;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.content {
    display: flex;
    flex-direction: column;
}

li {
    text-align: left;
}

table {
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid black;
    width: max-content;
    padding: 8px 12px;
    vertical-align: middle;
}

a {
    color: black;
    font-weight: bold;
}

.kuning {
    background-color: yellow;
}

.hijau {
    background-color: greenyellow;
}

img {
    width: 210px;
}

.center-box {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid #000;
    padding: 16px;
    margin-top: 30px;
}