body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.content {
    display: flex;
    flex-direction: column;
}

li {
    text-align: left;
}

table {
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid black;
    width: 200px;
}

.kuning {
    background-color: yellow;
}

.hijau {
    background-color: greenyellow;
}

img {
    width: 250px;
}

